<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./app.css">
    <title>Pattern Preview</title>
    <script language="JavaScript">

         document.addEventListener('DOMContentLoaded', function(){
            document.getElementById("tester").style.display = "none";
            if (document.getElementById("tester").innerHTML == "true"){
                let button = document.createElement("button");
                button.type = "submit";
                button.innerText = "Saved";
                document.getElementById("save-form").appendChild(button);
                document.getElementById("save-form").action = "/remove-from-library";
                //change the form action to "REmove from libraRY"
            } 
            if (document.getElementById("tester").innerHTML == "false") {
                let button = document.createElement("button");
                button.type = "submit";
                button.innerText = "Save to Library";
                document.getElementById("save-form").appendChild(button);
                document.getElementById("save-form").action = "/save-to-library";
            }
    });

    </script>
</head>

<body>
    <div class="navbox">
       
         <div>
            <a href="/home.hbs" class= "logo"> Craftics </a>
        </div>

        <div class="page">
           <a href="/workspace.hbs">  Workspace </a>
        </div>
    
        <div class="page">
            <a href="/database.hbs">  Database </a>
        </div>
    
        <div class="page">
            <a href="/library.hbs">  Library </a>
        </div>
    
        <div class="page">
            <a href="/"> Logout </a>
        </div>

    </div>

<div class="formula">
     <a style="margin-right: 1250px" href="/database.hbs"> <-- Go Back </a>
        &nbsp; &nbsp;
    <form action="/add-product-from-preview" method="POST">
        {{#each data}}
     <input style="display:none" name="idOfPattern" value={{this.idPattern}}/>
        {{/each}}
        <button type="submit"> Add a Product </button>
    </form>
</div>

    <form id="save-form" class="pattern-preview"  method="POST">
        <h2>
        Pattern Preview 
        </h2>
        <br></br>
        {{#each data}}
        <label class="product"> Image: </label>
        <br><br>
        <img id="display_image" src="{{this.image_path}}">
        <br></br>
        <label class="product"> Pattern Name: </label>
        <p>{{this.name}}</p>
        <br></br>
        <label class="product"> Description: </label>
        <p>{{this.description}}</p>
        <br></br>
        <label class="product"> Price: </label>
        <p>{{this.price}}</p>
        <br></br>
        <label class="product"> PDF: </label>
        <br>
        <a href="{{this.instructions}}" target="_blank">*click to download*</a>
        <input style="display:none" name="idOfPattern" value={{this.idPattern}}/>
        {{/each}}
        <br> <br>
        {{#each saved}}
         <p id="tester">{{this.value}}</p>
        {{/each}}
    </form>

</body>
</html>
